body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#chat {
  margin-top: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: stretch
}

input {
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
  width: 100%;
}

button {
  height: 50px;
  font-size: 14px;
  background: #069;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #FFF;
  margin-top: 10px;
}

.messages {
  height: 400px;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.message.messageSent {
  background-color: #67d267;
  display: flex;
  justify-content: flex-end;
  border-radius: 50px 20px 0px 20px;
}

.message {
  padding: 5px 5px 2px 5px;
  background-color: #67aed2;
  margin: 8px;
  border-radius: 20px 50px 20px 0px;
  font-size: 16px;
  word-break: break-word;
  -webkit-box-shadow: 1px 2px 15px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 15px -1px rgba(0, 0, 0, 0.3);
}

.horario {
  font-size: 14px;
}

.row {
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
}
#colorpicker{
  width: 80px;
  height: 80%;
  border: none;
  padding: 0px;

}

::-webkit-scrollbar {
  width: 7px;
  height: 9px;
}
::-webkit-scrollbar-thumb {
  background: #069;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 66, 99);
}
::-webkit-scrollbar-track {
  background: #00000000;
}